@font-face {
  font-family: "NeueMontreal";
  src: url("src/fonts/NeueMontreal/ppneuemontreal-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("src/fonts/NeueMontreal/ppneuemontreal-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("src/fonts/NeueMontreal/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
::-webkit-scrollbar-track {
  background: #2E2626; /* background */
}

::-webkit-scrollbar-thumb {
  background: #D9D9D9; /* draggable button */
}

/* Firefox */
* {
  scrollbar-color: #D9D9D9 #2E2626; /* thumb | track */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "NeueMontreal";
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "NeueMontreal";
}

.logo {
  font-size: 37px;
}
.logo img {
  height: 27px;
  object-fit: contain;
}

a {
  color: #0289CB;
}

li {
  list-style-type: none;
}

.fs-12px {
  font-size: 14px;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-20px {
  font-size: 20px;
}

.fs-24px {
  font-size: 24px;
}

.btn-dark {
  background-color: #000000;
  border-radius: 12px;
}

.btn-light {
  background: none;
  border: none;
  border-radius: 12px;
}

.btn-primary {
  background-color: #2F81FF;
}

.card {
  border-radius: 12px;
}

.blue-color-font {
  color: #2F81FF;
}

.wait-color-font {
  color: #F1B816;
}

.signed-color-font {
  color: #03A740;
}

.rejected-color-font {
  color: #F95F5F;
}

.c979797 {
  color: #979797;
}

.archive-color-font {
  color: #B4B6B8;
}

.c070707 {
  color: #070707;
}

.c5A4DF5 {
  color: #5A4DF5;
}

.red-dot {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -5px;
  margin-bottom: 5px;
}

.right-bottom {
  right: 0;
  bottom: 0;
}

button.disabled {
  background-color: #A7A7A7 !important;
  border: none;
  opacity: 1 !important;
}

select.disabled {
  background-color: #A7A7A7 !important;
  border: none;
  opacity: 1 !important;
}

body > header {
  border-bottom: 2px solid #e9e9e9;
  padding-left: 20px;
  padding-right: 20px;
}

header {
  padding: 30px 0px 10px 0px;
  font-family: "NeueMontreal";
}
header li {
  list-style-type: none;
}
header .logo {
  font-size: 50px;
}
header .logo img {
  width: 102px;
  height: 37px;
  font-size: 50px;
}
header .btn-dark {
  height: 49px;
  padding: 14px 71px;
}
header #user-profile-picture {
  position: relative;
}
header #online-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.welcome-page {
  box-sizing: border-box;
  min-height: 100vh;
  height: auto;
  padding: 44px 62px;
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
  color: #fff;
  font-family: "NeueMontreal";
  background-image: url("src/images/welcome-background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.welcome-page .container {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.welcome-page header {
  flex: 0 0 auto; /* stays at top */
}
.welcome-page main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.welcome-page main > div:first-child {
  /* this can remain to push the heading down a bit */
  flex: 1 0 auto;
  padding-top: 150px;
  padding-bottom: 45px;
}
.welcome-page main > div:last-child {
  display: flex;
  justify-content: flex-end; /* right side */
  align-items: flex-end; /* in case its height changes */
  gap: 0;
}
.welcome-page h1 {
  font-size: 98px;
  max-width: 1056px;
  font-weight: 400;
}
.welcome-page .logo {
  font-size: 37px;
}
.welcome-page .logo img {
  width: 74px;
  height: 27px;
  object-fit: contain;
}
.welcome-page ul {
  gap: 44px;
}
.welcome-page ul li {
  list-style: none;
  font-size: 23px;
}
.welcome-page button {
  width: 363px;
  height: 67px;
  border-radius: 31px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 35px;
}

.form {
  padding-top: 101px;
  padding-bottom: 25px;
  background-color: #fdfdfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "NeueMontreal";
  font-size: 15px;
}
.form form {
  background-color: #fff;
  width: 100%;
  max-width: 562px;
  box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.2);
  padding: 55px 49px;
  border-radius: 24px;
  color: #000000;
  margin: 49px;
}
.form form .logo img {
  width: 102px;
  height: 37px;
}
.form form b {
  font-size: 27px;
}
.form form label {
  color: #585858;
}
.form form label.cursor-pointer:hover {
  cursor: pointer;
}
.form form input {
  background-color: #F0F0F0;
  border: 1px solid #585858;
  height: 48px;
  border-radius: 9px;
}
.form form input.light-bg {
  background: none;
}
.form form button {
  background-color: #454545;
  width: 100%;
  font-size: 17px;
  color: #d1d1d1;
  height: 48px;
  border-radius: 9px;
}
.form form .double-input {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.form form .double-input div {
  width: 100%;
}
.form form .double-input.width-100-70 div:nth-of-type(2) {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.form form .double-input.width-100-70 div:nth-of-type(2) label {
  height: 48px;
  width: 100%;
  border: 1px solid #088CFA;
  border-radius: 9px;
  color: #088CFA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.form form .input-group input {
  border-right: none;
}
.form form .input-group span {
  background-color: #F0F0F0;
  border: 1px solid #585858;
  border-radius: 9px;
}
.form form .back-link img {
  height: 19px;
}
.form form .back-link a {
  text-decoration: none;
  color: #000000;
}
.form main > div:first-child {
  flex: 1;
}
.form footer {
  font-size: 12px;
}

.main {
  padding-left: 20px;
  max-height: calc(100% - 117px);
}
.main .cards {
  margin-bottom: 24px;
}
.main .cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 34px;
  border-radius: 14px;
  height: 101px;
  border: none;
}
.main .cards .card img {
  margin-right: 20px;
}
.main .cards .card div:nth-of-type(2) div:nth-of-type(1) {
  font-size: 24px;
  font-weight: 500;
}
.main .cards .card div:nth-of-type(2) div:nth-of-type(2) {
  color: #585858;
  font-weight: 500;
}
.main .cards .card-contracts {
  background-color: #ECECF0;
}
.main .cards .card-agreements {
  background-color: #ECF0EC;
}
.main .cards .card-terminations {
  background-color: #ECF0ED;
}
.main .cards .card-notifications {
  background-color: #F5F5F5;
}
.main main {
  padding-right: 20px;
  padding-top: 29px;
}
.main aside {
  width: 20%;
  padding-right: 18px;
  padding-bottom: 23px;
  padding-top: 29px;
}
.main aside .card {
  height: 101px;
  background-color: #F5F5F5;
  margin-bottom: 24px;
  border: none;
  padding: 0 16px;
}
.main aside button {
  height: 46px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 16px;
}
.main aside .btn-primary {
  width: 100%;
  border-radius: 12px;
  height: 69px;
  font-weight: 700;
}
.main aside nav {
  color: #585858;
}
.main aside nav a {
  text-decoration: none;
}
.main aside nav ul {
  padding-left: 0px;
}
.main aside nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
  height: 46px;
  font-weight: 500;
  color: #585858;
  margin-bottom: 5px;
}
.main aside nav ul li div {
  display: flex;
}
.main aside nav .active {
  background-color: #F0F0EC;
  border-radius: 12px;
  color: #000000;
}
.main aside nav .active img {
  filter: brightness(0%);
}
.main .contracts {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #F5F5F5;
  padding: 0;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.main .contracts .input-group {
  background-color: #fff;
  border-radius: 12px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.main .contracts .input-group input {
  background: none;
  border: none;
  border-radius: 12px;
}
.main .contracts .input-group input::placeholder {
  font-weight: 500;
  color: #585858;
  font-size: 16px;
  font-family: "NeueMontreal";
}
.main .contracts .input-group input:focus {
  outline: none;
  box-shadow: none;
}
.main .contracts .input-group select {
  border: none;
  color: #585858;
  font-weight: 500;
}
.main .contracts .input-group select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.main .contracts .sorting {
  /* Header-specific styling */
  /* Body rows styling */
}
.main .contracts .sorting .contracts-table-wrapper {
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.main .contracts .sorting .contracts-table-row:has(input[type=checkbox]:checked) {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  border-color: #007bff;
}
.main .contracts .sorting .contracts-table-row {
  display: grid;
  grid-template-columns: auto 90px 2fr 110px 3fr 4fr 4fr 190px 119px;
  align-items: center;
  padding-right: 20px;
  font-family: "NeueMontreal";
  padding-left: 20px;
  word-wrap: break-word;
}
.main .contracts .sorting .contracts-table-row > div {
  padding-right: 10px;
  /* Ensure all divs have consistent behavior */
  min-width: 0; /* Prevents overflow issues */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.main .contracts .sorting .contracts-table-row input[type=checkbox] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  width: 19px;
  height: 19px;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.main .contracts .sorting .contracts-table-row input[type=checkbox]:checked {
  background-color: #2F81FF;
  border: none;
}
.main .contracts .sorting .contracts-table-row input[type=checkbox]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: translate(-50%, -50%) rotate(45deg);
}
.main .contracts .sorting .contracts-table-row .status-archived {
  color: #B4B6B8;
}
.main .contracts .sorting .contracts-table-row .status-waiting {
  color: #F1B816;
}
.main .contracts .sorting .contracts-table-row .status-waiting svg path {
  fill: #F1B816;
}
.main .contracts .sorting .contracts-table-row .status-signed {
  color: #03A740;
}
.main .contracts .sorting .contracts-table-row .status-signed svg path {
  fill: #03A740;
}
.main .contracts .sorting .contracts-table-row .status-rejected {
  color: #F95F5F;
}
.main .contracts .sorting .contracts-table-row .status-rejected svg path {
  fill: #F95F5F;
}
.main .contracts .sorting .contracts-table-row .status-unsend {
  color: #2F81FF;
}
.main .contracts .sorting .contracts-table-row .status-unsend svg path {
  fill: #2F81FF;
}
.main .contracts .sorting .contracts-table-header {
  position: sticky;
  top: 0;
  font-weight: bold;
  z-index: 2;
  background-color: #F5F5F5;
  padding-top: 10px;
  padding-left: 10px;
}
.main .contracts .sorting .contracts-table-header > .d-flex {
  padding-right: 20px;
}
.main .contracts .sorting .contracts-table-header .contracts-table-row {
  font-weight: 500;
  color: #585858;
  /* Style selects in header to fit the grid properly */
}
.main .contracts .sorting .contracts-table-header .contracts-table-row select {
  width: min-content; /* Take full width of grid cell */
  background-color: #000000;
  color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  padding: 8px 12px;
  padding-right: 30px;
  border-radius: 4px;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cpolyline points='4,6 8,10 12,6' fill='none' stroke='white' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 18px 18px;
}
.main .contracts .sorting .contracts-table-header button {
  border-radius: 12px;
}
.main .contracts .sorting .contracts-table-body {
  padding-top: 4px;
  padding-left: 10px;
  padding-right: 10px;
}
.main .contracts .sorting .contracts-table-body .contracts-table-row {
  background: #FDFDFD;
  border-radius: 8px;
  margin-bottom: 8px;
  min-height: 120px;
  font-weight: 500;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #585858;
}
.main .contracts .sorting .contracts-table-body .contracts-table-row:hover {
  -webkit-box-shadow: 0px 0px 2px 4px rgba(241, 184, 22, 0.2);
  -moz-box-shadow: 0px 0px 2px 4px rgba(241, 184, 22, 0.2);
  box-shadow: 0px 0px 2px 4px rgba(241, 184, 22, 0.2);
}

.settings .content {
  padding: 65px 10px 0px 10px;
  height: 100%;
  background-color: #F5F5F5;
  border-top-left-radius: 12px; /* Rounds the top-left corner */
  border-top-right-radius: 12px;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}
.settings .content .nav-tabs,
.settings .content .tab-content {
  max-width: 1025px;
  border: none;
  position: relative;
}
.settings .content .tab-content {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  border-top-right-radius: 12px;
  height: calc(100% - 36px);
}
.settings .content .nav-tabs button {
  border: none;
  padding: 11px 78px 2px 78px;
  border-top-left-radius: 12px; /* Rounds the top-left corner */
  border-top-right-radius: 12px;
  font-weight: 500;
  color: #999999;
}
.settings .content .nav-tabs button.active {
  background-color: #FDFDFD;
  color: #585858;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  -moz-box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(34, 60, 80, 0.25);
}
.settings .content .tab-content {
  background-color: #FDFDFD;
}
.settings .content .save-btn {
  background-color: #2F81FF;
  border: none;
  border-radius: 12px;
  height: 48px;
  font-size: 14px;
  padding: 0 42px;
  color: #fff;
}
.settings .content .profile-card {
  padding: 26px;
}
.settings .content .profile-card h5, .settings .content .profile-card h6 {
  margin: 0;
}
.settings .content .profile-card h6 {
  margin-bottom: 5px;
}
.settings .content .profile-card .profile-header {
  gap: 26px;
}
.settings .content .profile-card .profile-header img {
  height: 21px;
}
.settings .content .profile-card .profile-header .avatar img:first-of-type {
  width: 116px;
  height: auto;
  object-fit: contain;
}
.settings .content .form-group {
  margin-bottom: 15px;
}
.settings .content .form-sections {
  gap: 43px;
  font-size: 15px;
  color: #000000;
  margin-top: 33px;
}
.settings .content .form-sections h6 {
  font-size: 15px;
}
.settings .content .form-sections label {
  color: #585858;
  margin-bottom: 5px;
}
.settings .content input {
  background-color: #F0F0F0;
  border: 1px solid #585858;
  border-radius: 9px;
  height: 48px;
}
.settings .content input.light-bg {
  background: none;
}
.settings .content .input-group input {
  border-right: none;
}
.settings .content .input-group span {
  background-color: #F0F0F0;
  border: 1px solid #585858;
  border-radius: 9px;
  border-left: none;
}
.settings .content .input-group.light-bg input, .settings .content .input-group.light-bg span {
  background: none;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px;
  }
}
@media (min-width: 576px) {
  .container, .container-sm {
    max-width: none;
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media (max-width: 575px) {
  .container, .container-sm {
    padding-left: 18px;
    padding-right: 18px;
  }
}
@media (max-width: 1399px) {
  .main aside {
    font-size: 14px;
    width: 15%;
  }
  .main aside .fs-15px {
    font-size: 14px;
  }
  .main aside .fs-14px {
    font-size: 12px;
  }
  .main aside button {
    font-size: 14px;
  }
  .main aside .btn-primary img {
    width: 15px;
    height: 15px;
  }
  .main .contracts {
    font-size: 14px;
  }
  .main .contracts select {
    font-size: 14px;
  }
  .main .contracts .input-group input::placeholder {
    font-size: 14px;
  }
  .main .contracts .sorting .contracts-table-row {
    grid-template-columns: auto 70px 2fr 90px 90px 4fr 4fr 150px 97px;
  }
  .main .contracts .sorting .contracts-table-header .contracts-table-row select {
    padding: 5px 8px;
    padding-right: 22px;
    background-position: right 5px center;
  }
  .main .cards .card {
    padding: 10px 20px;
  }
  .main .cards .card div:nth-of-type(2) div:nth-of-type(1) {
    font-size: 20px;
  }
  .main .cards .card div:nth-of-type(2) div:nth-of-type(2) {
    font-size: 14px;
  }
}
@media (max-width: 1199px) {
  .welcome-page h1 {
    font-size: 80px;
    max-width: 800px;
  }
  body > header {
    padding-left: 10px;
    padding-right: 10px;
  }
  body > header .logo {
    font-size: 36px;
  }
  body > header .logo img {
    width: 80px;
    object-fit: contain;
    font-size: 50px;
  }
  body > header .fs-16px {
    font-size: 14px;
  }
  body > header .fs-20px {
    font-size: 16px;
  }
  body > header .fs-24px {
    font-size: 20px;
  }
  body > header .btn-dark {
    height: 40px;
    padding: 0 40px;
  }
  body > header ul.gap-4 {
    gap: 1rem;
  }
  body > header #user-profile-picture img:first-of-type {
    height: 40px;
  }
  .main {
    padding-left: 10px;
    max-height: calc(100% - 96px);
  }
  .main main {
    padding-right: 10px;
  }
  .main aside {
    width: 60px;
    transition: width 0.2s;
    height: calc(100% - 96px);
    overflow: hidden;
    position: absolute;
    padding-right: 10px;
    /* text elements */
    /* make sure icons always visible */
  }
  .main aside .card img {
    margin-top: 10px;
  }
  .main aside:hover {
    width: 260px; /* expand */
    z-index: 1000; /* sit above main content */
    background: #fff;
    box-shadow: 5px 0px 10px -5px rgba(0, 0, 0, 0.15);
  }
  .main aside nav ul li span,
  .main aside .fw-medium,
  .main aside .fs-14px,
  .main aside button span,
  .main aside .btn-primary div:nth-of-type(2) {
    opacity: 0;
    max-width: 0;
    white-space: nowrap;
    overflow: hidden;
    transition: opacity 0.2s ease, max-width 0.2s ease;
    /* no delay here, hides immediately */
  }
  .main aside:hover nav ul li span, .main aside:hover .fw-medium, .main aside:hover .fs-14px, .main aside:hover button span, .main aside:hover .btn-primary div:nth-of-type(2) {
    opacity: 1;
    max-width: 500px; /* large enough for text */
    transition: opacity 0.2s ease 0.2s, max-width 0.2s ease 0.2s;
    /* delay only on showing */
  }
  .main aside:hover .card img {
    margin-right: 10px;
  }
  .main aside nav ul li img,
  .main aside button img {
    opacity: 1 !important;
    max-width: none !important;
    transition: none !important;
  }
  .main .hidden-space {
    width: 60px;
  }
}
@media (max-width: 991px) {
  #mobile-header .search-bar {
    background-color: #fff;
    border-radius: 12px;
    padding: 10px 22px;
    gap: 22px;
  }
  #mobile-header .search-bar input {
    border: none;
    font-weight: 500;
  }
  #mobile-header .search-bar img:nth-of-type(2) {
    width: 30px;
  }
  .menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: none;
  }
  .menu-overlay.show {
    display: block;
  }
  .menu-overlay.show .mobile-menu {
    transform: translateX(0);
  }
  .mobile-menu {
    padding-top: 32px;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    max-width: 320px;
    height: 100%;
    background: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
  }
  .mobile-menu hr {
    margin: 0 20px;
    color: #D9D9D9;
  }
  .mobile-menu button {
    padding-left: 20px;
    margin-bottom: 10px;
  }
  .mobile-menu .menu-header {
    border-bottom: 1px solid #eee;
  }
  .mobile-menu .menu-header .logo {
    font-size: 25px;
    padding-left: 20px;
  }
  .mobile-menu .menu-header .logo img {
    width: 56px;
  }
  .mobile-menu .menu-header .user-info {
    background-color: #ECECF0;
    padding: 12px 20px;
  }
  .mobile-menu ul {
    padding: 0;
  }
  .mobile-menu ul a {
    text-decoration: none;
    color: #585858;
  }
  .mobile-menu ul li {
    display: flex;
    padding-left: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    gap: 15px;
    align-items: center;
    font-weight: 500;
  }
  .mobile-menu ul li svg {
    width: 18px;
    height: 18px;
  }
  .mobile-menu ul li.active {
    background-color: #ECECF0;
    color: #2F81FF;
  }
  .mobile-menu ul li.active path {
    fill: #2F81FF;
  }
  .mobile-menu ul li.disabled {
    color: #a8a8a8;
  }
  .mobile-menu ul li.disabled path {
    fill: #a8a8a8;
  }
  #mobile-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: white;
    border-radius: 35px 35px 0 0;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
    z-index: 1000;
    font-size: 14px;
    font-weight: 500;
    color: #585858;
  }
  #mobile-footer img {
    width: 26px;
  }
  #mobile-footer .img-container {
    background-color: #2F81FF;
    margin-top: -40px;
    padding: 20px;
    border-radius: 50%;
  }
  #mobile-footer > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }
  #mobile-footer > div.active {
    color: #2F81FF;
  }
  #mobile-footer > div.active path {
    fill: #2F81FF;
  }
  .main {
    padding: 22px 18px;
    max-height: 100%;
    background-color: #f7f7f7;
  }
  .main main {
    height: calc(100% - 28px);
  }
  .main main .tab-content {
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
  }
  .main main .tab-content::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
  .main main hr {
    width: 100vw;
    margin: 0;
    margin-left: -18px;
    color: #D9D9D9;
    height: 2px;
    border: none;
    background: #D9D9D9;
  }
  .main main .mobile-contracts {
    padding-top: 18px;
  }
  .main main .mobile-contracts > div {
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    border-radius: 12px;
    gap: 11px;
    color: #000000;
    font-weight: 500;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    margin-bottom: 6px;
  }
  .main main .mobile-contracts > div small {
    font-size: 10px;
    color: #A4A4A5;
  }
  .main main .mobile-contracts > div .img-container {
    background-color: #F5F5F5;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main main .mobile-contracts > div .img-container img {
    width: 19px;
    object-fit: contain;
  }
  .main main .mobile-contracts > div::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 6px;
    height: 100%;
  }
  .main main .mobile-contracts > div.status-archived::before {
    background-color: #A4A4A5;
  }
  .main main .mobile-contracts > div.status-signed::before {
    background-color: #03A740;
  }
  .main main .mobile-contracts > div.status-signed .status-color small {
    color: #03A740;
  }
  .main main .mobile-contracts > div.status-waiting::before {
    background-color: #F1B816;
  }
  .main main .mobile-contracts > div.status-waiting .status-color small {
    color: #F1B816;
  }
  .main main .mobile-contracts > div.status-unsended::before {
    background-color: #2F81FF;
  }
  .main main .mobile-contracts > div.status-unsended .status-color small {
    color: #2F81FF;
  }
  .main main .mobile-contracts > div.status-rejected::before {
    background-color: #F95F5F;
  }
  .main main .mobile-contracts > div.status-rejected .status-color small {
    color: #F95F5F;
  }
  .main .nav-tabs {
    border: none;
  }
  .main .nav-tabs .nav-item button.nav-link {
    background: none;
    border: none;
    font-weight: 500;
    color: #585858;
  }
  .main .nav-tabs .nav-item button.nav-link.active {
    color: #2F81FF;
    position: relative;
  }
  .main .nav-tabs .nav-item button.nav-link.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 4px;
    background: #2F81FF;
    border-radius: 4px 4px 0 0;
  }
  .welcome-page {
    padding: 44px 0px;
  }
  .welcome-page h1 {
    font-size: 60px;
  }
  .welcome-page main > div:first-child {
    padding-top: 50px;
  }
  .settings .content {
    box-shadow: none;
    padding: 0;
  }
  .settings .content .nav-tabs button.active {
    box-shadow: none;
  }
  .settings .content .tab-content {
    background: none;
  }
  .settings .content .tab-content .profile-card {
    background: one;
  }
  .settings .cards .card {
    height: auto;
  }
  .settings .fs-24px {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .welcome-page {
    padding: 44px 0px;
  }
  .welcome-page h1 {
    font-size: 60px;
  }
  .welcome-page main > div:first-child {
    padding-top: 50px;
  }
}
@media (max-width: 575px) {
  .welcome-page h1 {
    font-size: 34px;
  }
  .welcome-page button {
    width: 100%;
  }
  .welcome-page .logo {
    font-size: 18px;
  }
  .welcome-page .logo img {
    width: 38px;
    height: 14px;
  }
  .welcome-page .menu li {
    font-size: 14px;
    flex-direction: row-reverse;
  }
  .welcome-page .menu li img {
    height: 14px;
    width: 14px;
    margin-left: 6px;
  }
  .form {
    padding-top: 0;
  }
  .form form {
    font-size: 12px;
    margin: 18px;
    padding: 30px;
    padding-top: 60px;
  }
  .form form .logo img {
    width: 73px;
    height: 27px;
  }
  .form form label {
    font-size: 12px;
    text-align: center;
  }
  .form form input {
    height: 46px;
  }
  .form form b {
    font-size: 16px;
  }
  .form form button {
    font-size: 14px;
  }
}