@font-face {
  font-family: "NeueMontreal";
  src: url("src/fonts/NeueMontreal/ppneuemontreal-book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("src/fonts/NeueMontreal/ppneuemontreal-bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "NeueMontreal";
  src: url("src/fonts/NeueMontreal/ppneuemontreal-medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
::-webkit-scrollbar-track {
  background: #2E2626; /* background */
}

::-webkit-scrollbar-thumb {
  background: #D9D9D9; /* draggable button */
}

/* Firefox */
* {
  scrollbar-color: #D9D9D9 #2E2626; /* thumb | track */
}

html, body {
  height: 100%;
  margin: 0;
  font-family: "NeueMontreal";
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: "NeueMontreal";
}

.logo {
  font-size: 37px;
}
.logo img {
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
}

a {
  color: #0289CB;
}

li {
  list-style-type: none;
}

.fs-14px {
  font-size: 14px;
}

.fs-15px {
  font-size: 15px;
}

.fs-16px {
  font-size: 16px;
}

.fs-20px {
  font-size: 20px;
}

.fs-24px {
  font-size: 24px;
}

.c979797 {
  color: #979797;
}

.btn-dark {
  background-color: #000000;
  border-radius: 12px;
}

.btn-light {
  background: none;
  border: none;
  border-radius: 12px;
}

.btn-primary {
  background-color: #2F81FF;
}

.card {
  border-radius: 12px;
}

.blue-color-font {
  color: #2F81FF;
}

header {
  padding: 30px 42px 10px 42px;
  font-family: "NeueMontreal";
  border-bottom: 2px solid #e9e9e9;
}
header li {
  list-style-type: none;
}
header .logo {
  font-size: 50px;
}
header .logo img {
  width: 102px;
  height: 37px;
  font-size: 50px;
}
header .btn-dark {
  height: 49px;
  padding: 14px 71px;
}
header #user-profile-picture {
  position: relative;
}
header #online-icon {
  position: absolute;
  bottom: 0;
  right: 0;
}

.welcome-page {
  background-image: url("src/images/welcome-background.gif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 44px 62px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fff;
  font-family: "NeueMontreal";
}
.welcome-page main > div:first-child {
  flex: 1;
  padding-top: 150px;
}
.welcome-page h1 {
  font-size: 98px;
  max-width: 1056px;
}
.welcome-page .logo {
  font-size: 37px;
}
.welcome-page .logo img {
  width: 74px;
  height: 27px;
  -o-object-fit: contain;
     object-fit: contain;
}
.welcome-page ul {
  gap: 44px;
}
.welcome-page ul li {
  list-style-type: none;
  font-size: 23px;
}
.welcome-page button {
  width: 363px;
  height: 67px;
  border-radius: 31px;
  background: rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(9.3px);
  -webkit-backdrop-filter: blur(9.3px);
  color: #fff;
  cursor: pointer;
  border: 1px solid #fff;
  font-size: 35px;
}

.form {
  padding-top: 101px;
  padding-bottom: 25px;
  background-color: #fdfdfd;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "NeueMontreal";
  font-size: 15px;
}
.form form {
  background-color: #fff;
  width: 100%;
  max-width: 562px;
  box-shadow: 0 0 25.5px rgba(0, 0, 0, 0.2);
  padding: 55px 49px;
  border-radius: 24px;
  color: #000000;
  margin: 49px;
}
.form form .logo img {
  width: 102px;
  height: 37px;
}
.form form b {
  font-size: 27px;
}
.form form label {
  color: #585858;
}
.form form label.cursor-pointer:hover {
  cursor: pointer;
}
.form form input {
  background-color: #F0F0F0;
  border: 1px solid #585858;
  height: 48px;
  border-radius: 9px;
}
.form form input.light-bg {
  background: none;
}
.form form button {
  background-color: #454545;
  width: 100%;
  font-size: 17px;
  color: #d1d1d1;
  height: 48px;
  border-radius: 9px;
}
.form form .double-input {
  display: flex;
  justify-content: space-between;
  gap: 18px;
}
.form form .double-input div {
  width: 100%;
}
.form form .double-input.width-100-70 div:nth-of-type(2) {
  width: 70%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.form form .double-input.width-100-70 div:nth-of-type(2) label {
  height: 48px;
  width: 100%;
  border: 1px solid #088CFA;
  border-radius: 9px;
  color: #088CFA;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}
.form form .input-group input {
  border-right: none;
}
.form form .input-group span {
  background-color: #F0F0F0;
  border: 1px solid #585858;
  border-radius: 9px;
}
.form form .back-link img {
  height: 19px;
}
.form form .back-link a {
  text-decoration: none;
  color: #000000;
}
.form main > div:first-child {
  flex: 1;
}
.form footer {
  font-size: 12px;
}

.main {
  padding-left: 42px;
  padding-top: 29px;
  max-height: calc(100% - 117px);
}
.main .cards {
  margin-bottom: 24px;
}
.main .cards .card {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 34px;
  border-radius: 14px;
  height: 101px;
  border: none;
}
.main .cards .card img {
  margin-right: 20px;
}
.main .cards .card div:nth-of-type(2) div:nth-of-type(1) {
  font-size: 24px;
  font-weight: 500;
}
.main .cards .card div:nth-of-type(2) div:nth-of-type(2) {
  color: #585858;
  font-weight: 500;
}
.main .cards .card-contracts {
  background-color: #ECECF0;
}
.main .cards .card-agreements {
  background-color: #ECF0EC;
}
.main .cards .card-terminations {
  background-color: #ECF0ED;
}
.main .cards .card-notifications {
  background-color: #F5F5F5;
}
.main main {
  padding-right: 43px;
}
.main aside {
  width: 20%;
  padding-right: 18px;
  padding-bottom: 23px;
}
.main aside .card {
  height: 101px;
  background-color: #F5F5F5;
  margin-bottom: 24px;
  border: none;
}
.main aside button {
  height: 46px;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 16px;
}
.main aside .btn-primary {
  width: 100%;
  border-radius: 12px;
  height: 69px;
  font-weight: 700;
}
.main aside nav {
  color: #585858;
}
.main aside nav a {
  text-decoration: none;
}
.main aside nav ul {
  padding-left: 0px;
}
.main aside nav ul li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 16px;
  height: 46px;
  font-weight: 500;
  color: #585858;
  margin-bottom: 5px;
}
.main aside nav ul li div {
  display: flex;
}
.main aside nav .active {
  background-color: #F0F0EC;
  border-radius: 12px;
  color: #000000;
}
.main aside nav .active img {
  filter: brightness(0%);
}
.main .contracts {
  border-radius: 12px;
  background-color: #F5F5F5;
  padding: 0 10px;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;
}
.main .contracts .input-group {
  background-color: #fff;
  border-radius: 12px;
  padding-left: 15px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.main .contracts .input-group:nth-of-type(1) {
  width: 30%;
}
.main .contracts .input-group:nth-of-type(2) {
  width: 20%;
}
.main .contracts .input-group input {
  background: none;
  border: none;
  border-radius: 12px;
}
.main .contracts .input-group input::-moz-placeholder {
  font-weight: 500;
  color: #585858;
  font-size: 16px;
  font-family: "NeueMontreal";
}
.main .contracts .input-group input::placeholder {
  font-weight: 500;
  color: #585858;
  font-size: 16px;
  font-family: "NeueMontreal";
}
.main .contracts .input-group input:focus {
  outline: none;
  box-shadow: none;
}
.main .contracts .input-group select {
  border: none;
  color: #585858;
  font-weight: 500;
}
.main .contracts .input-group select:focus {
  border: none;
  outline: none;
  box-shadow: none;
}
.main .contracts .sorting {
  /* grid structure */
  /* header styling */
  /* body rows */
}
.main .contracts .sorting .contracts-table-wrapper {
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 12px;
}
.main .contracts .sorting .contracts-table-row {
  display: grid;
  grid-template-columns: repeat(9, auto);
  align-items: center;
  padding: 8px;
}
.main .contracts .sorting .contracts-table-row select {
  width: auto;
  background-color: #000000;
  color: #fff;
}
.main .contracts .sorting .contracts-table-header {
  position: sticky;
  top: 0;
  font-weight: bold;
  z-index: 2;
  background-color: #F5F5F5;
  padding-top: 10px;
}
.main .contracts .sorting .contracts-table-body .contracts-table-row {
  background: #f5f5f5;
  border-radius: 8px;
  margin-bottom: 6px;
}/*# sourceMappingURL=style.css.map */